# --- PlatformIO ---
firmware/.pio/
firmware/.vscode/
*.ipch
*.db

# --- KiCad ---
pcb/*.bak
pcb/*.bck
pcb/*-bak
pcb/_autosave-*
pcb/*.tmp
pcb/*.lck
pcb/*.kicad_prl
pcb/*.kicad_wks
pcb/fp-info-cache
pcb/jlcpcb/gerber/
pcb/led-o-clock-backups/

# --- FreeCAD ---
enclosure/*.FCStd1
enclosure/*.bak

# --- System ---
.DS_Store
Thumbs.db
*.swp
*.tmp

# --- Environnement ---
.env


.idea/
